.dropDownMenu{
    position:relative;
    margin-top:20px;
    background-color: blue;
    height:700px;
    overflow: hidden;
    display:grid;
    justify-content: center;
    align-items: center;
    
    
    
   
    
}
.dropDownItem{
   margin: auto;
   padding: auto;
   
   
    
 
}